html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.links {
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: image();
}
